//@import "../icomoon/style";

* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
aside,
nav,
footer,
header,
section {
	display: block;
}
html,
body {
	height: 100%;

	min-width: $minwidth;
	max-width: $maxwidth;
	margin: 0 auto;
}
body {
	line-height: 1;
	font-family: $mainFontFamily;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	color: #000;
	font-size: 14px;
	font-family: $mainFontFamily;
	opacity: 0;
	transition: opacity .8s ease;
	transition-delay: .5s;

	&.lock {
		overflow: hidden;
	}

	&.isload {
		opacity: 1;
	}

}

input,
button,
textarea {
	font-family: $mainFontFamily;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	box-shadow: black 0px 0px 10px;
	display: flex;
	flex-direction: column;
	&.loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================
.page {
	flex: 1 1 auto;
	height: 100%;
}

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
// .container {
// 	max-width: $mw + px;
// 	margin: 0 auto;
// 	width: 100%;
// 	@media (max-width: $md1+px) {
// 		max-width: 970px;
// 	}
// 	@media (max-width: $md2+px) {
// 		max-width: 750px;
// 	}
// 	@media (max-width: $md3+px) {
// 		max-width: none;
// 		padding: 0 10px;
// 	}
// }
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

// mixin ===========================================================================================================
@mixin maintitle() {
	color: #000000;
	font-size: 60px;
	line-height: calc(60 / 60);
	text-transform: uppercase;
	letter-spacing: 4.5px;
	font-family: $mainFontFamily;

	@media (max-width: $md3+px ) {
		font-size: 36px;
		line-height: calc(45 / 36);
		letter-spacing: 2.7px;
	}
}

@mixin bigtitle() {
	color: #000000;
	font-size: 60px;
	line-height: calc(60 / 60);
	text-transform: uppercase;
	letter-spacing: 2.2px;
	font-family: $mainFontFamily;
	
	@media (max-width: $md3+px ) {
		font-size: 36px;
		line-height: calc(45 / 36);
	}

	@media (max-width: 575px ) {
		font-size: 28px;
		letter-spacing: 2px;
		margin-bottom: 53px;
	}
}

@mixin text() {
	color: #000000;
	font-size: 16px;
	font-weight: 400;
	line-height: calc(23 /16);
	letter-spacing: 0.4px;
}
// and mixin ===========================================================================================================
.container {
	max-width: $mw + 30+px;
	margin: 0 auto;
	width: 100%;
	padding: 0 15px;
}

.ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

.btn {

	& > a {
		display: inline-block;
		min-width: 150px;
		min-height: 50px;
		background-color: rgba(255, 255, 255, 0.278);
		border:2px solid #000;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 15px 10px;
		text-align: center;
		color: #000;
		font-size: 16px;
		font-weight: 400;
		line-height: 18px;
		text-transform: uppercase;
		letter-spacing: 1.6px;
		transition: all .2s ease;

		@media (min-width: 992px ) {
			&:hover {
				background-color: $mainColor;
				color: #000000;
				border:2px solid $mainColor;
			}
		}

		@media (max-width: $md3+px ) {
			letter-spacing: 1.4px;
		}
	}
}



.woocommerce-notices-wrapper {
	& .woocommerce-error, & .woocommerce-info, & .woocommerce-message {
	    padding: 1em 2em 1em 3.5em;
	    margin: 0 0 0em;
	    position: relative;
	    background-color: #fff;
	    color: #515151;
	    border-top: 1px solid #000;
	    list-style: none outside;
	    width: auto;
	    word-wrap: break-word;

	    color: #000;
	    font-size: 12px;
	    font-weight: 400;
	    line-height: 18px;
	    letter-spacing: 1.2px;
	    transition: all .2s ease;
	    font-family: $mainFontFamily;
	}

	.woocommerce-error {
		border-top-color: #000;
		& li {
			color: #000;
			font-size: 12px;
			font-weight: 400;
			line-height: 18px;
			letter-spacing: 1.2px;
			transition: all .2s ease;
			font-family: $mainFontFamily;
		}
	}

	& .woocommerce-message {
		border-top-color: #000;
		color: #000;
		font-size: 12px;
		font-weight: 400;
		line-height: 18px;
		letter-spacing: 1.2px;
		transition: all .2s ease;
		font-family: $mainFontFamily;	

		& > .button {
			border: 2px solid #000;
			text-transform: uppercase;
			background-color: transparent;
			color: #000;
			font-size: 12px;
			letter-spacing: 1.6px;
			font-weight: 400;
			transition: all .2s ease;
			border-radius: 0px;
			padding: 7px 15px !important;

			@media (min-width: 992px ) {
				&:hover {
					background-color: $mainColor;
					color: #000000;
					border:2px solid $mainColor;
				}
			}
		}
	}

	& .woocommerce-info {
		border-top-color: #000;
		color: #000;
		font-size: 12px;
		font-weight: 400;
		line-height: 18px;
		letter-spacing: 1.2px;
		transition: all .2s ease;
		font-family: $mainFontFamily;
		text-transform: uppercase;

		&:before {
			display:none;
		}	
	}
}

.woocommerce-message {
	& > a {
		max-width: 310px;
		color: #000;
		font-size: 12px;
		font-weight: 400;
		line-height: 28px;
		text-transform: uppercase;
		letter-spacing: 1.6px;
		display: inline-block;
		border-bottom: 1px dashed #71eeb8;
		outline: 0;
	}


}

.woocommerce-error {
	& li {
		& > .button {
			border: 2px solid #000;
			text-transform: uppercase;
			background-color: transparent;
			color: #000;
			font-size: 12px;
			letter-spacing: 1.6px;
			font-weight: 400;
			transition: all .2s ease;
			border-radius: 0px;
			padding: 7px 15px !important;

			@media (min-width: 992px ) {
				&:hover {
					background-color: $mainColor;
					color: #000000;
					border:2px solid $mainColor;
				}
			}
		}
	}
}

.woocommerce-form-coupon-toggle {
	& .woocommerce-error, & .woocommerce-info, & .woocommerce-message {
	    padding: 1em 2em 1em 3.5em;
	    margin: 0 0 0em;
	    position: relative;
	    background-color: #fff;
	    color: #515151;
	    border-top: 1px solid #000;
	    list-style: none outside;
	    width: auto;
	    word-wrap: break-word;

	    color: #000;
	    font-size: 12px;
	    font-weight: 400;
	    line-height: 18px;
	    letter-spacing: 1.2px;
	    transition: all .2s ease;
	    font-family: $mainFontFamily;
	}

	.woocommerce-error {
		border-top-color: #000;
		& li {
			color: #000;
			font-size: 12px;
			font-weight: 400;
			line-height: 18px;
			letter-spacing: 1.2px;
			transition: all .2s ease;
			font-family: $mainFontFamily;
		}
	}

	& .woocommerce-message {
		border-top-color: #000;
		color: #000;
		font-size: 12px;
		font-weight: 400;
		line-height: 18px;
		letter-spacing: 1.2px;
		transition: all .2s ease;
		font-family: $mainFontFamily;	
	}

	& .woocommerce-info {
		border-top-color: #000;
		color: #000;
		font-size: 12px;
		font-weight: 400;
		line-height: 18px;
		letter-spacing: 1.2px;
		transition: all .2s ease;
		font-family: $mainFontFamily;	
	}
}

.woocommerce-error,.woocommerce-info, .woocommerce-message {
   border-top-color: #000 !important;
    padding: 1em 2em 1em 3.5em;
    margin: 0 0 0em;
    position: relative;
    background-color: #fff;
    color: #515151;
    border-top: 1px solid #000;
    list-style: none outside;
    width: auto;
    word-wrap: break-word;

    color: #000;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 1.2px;
    transition: all .2s ease;
    font-family: $mainFontFamily;
}

.woocommerce-form-coupon-toggle {
	& .woocommerce-info {
		padding:30px 15px 5px !important;
		text-align: center;
		display: flex;
		flex-direction: column;
		text-transform: uppercase;
		color: #000;
		font-size: 27px;
		text-transform: uppercase;
		letter-spacing: 2.4px;
		&:before {
			display: none;
		}

		& > a {
			max-width: 310px;
			color: #000;
			font-size: 16px;
			font-weight: 400;
			line-height: 28px;
			text-transform: uppercase;
			letter-spacing: 1.6px;
			display: inline-block;
			border-bottom: 1px dashed #71eeb8;
			outline: 0;
			margin: 20px auto 0;
		}
	}
}


.checkout_coupon {

	@media (max-width: $md4+px ) {
		text-align: center !important;
		padding: 10px !important;
	} 

	& > p {
		&:first-child {
			color: #4a4a4a;
			font-size: 14px;
			line-height: 23px;
			text-transform: uppercase;
			letter-spacing: 1.4px;
			margin-bottom: 10px;
			margin-left: 5px;

			@media (max-width: $md4+px ) {
				font-size: 12px;
			}
		}
	}

	& .form-row-first {
		& #coupon_code {
			padding: 15px 20px;

			/*@media (max-width: $md4+px ) {
				width: 50%;
			}*/
		}

		@media (max-width: $md4+px ) {
			width: 50%;
		}
	}

	& .form-row-last {
		& > .button {
			border: 2px solid #000;
			text-transform: uppercase;
			background-color: transparent;
			color: #000;
			font-size: 16px;
			letter-spacing: 1.6px;
			font-weight: 400;
			transition: all .2s ease;
			border-radius: 0px;

			@media (min-width: 992px ) {
				&:hover {
					background-color: $mainColor;
					color: #000000;
					border:2px solid $mainColor;
				}
			}
		}

		@media (max-width: $md4+px ) {
			width: 50%;
		}
	}
}

// .products-shop-content__wrap {
// 	& .woocommerce-info {
// 		padding: 10px;
// 		text-transform: uppercase;
// 		margin: 0 auto;
		

// 		&:before {
// 			display: none;
// 		}
// 	}
// }

.shipping-calculator-form {
	max-width: 450px;

	& > p {

			& > .button {
			background: transparent;
			border: 2px solid black;
			border-radius: 0px;
			font-weight: 400;
			color: #000;
			text-transform: uppercase;
			font-size: 16px;
			margin-top: 20px;

			@media (min-width: 992px ) {
				&:hover {
					background-color: $mainColor;
					color: #000000;
					border:2px solid $mainColor;
				}
			}
		}
	}

	& .form-row {
		padding: 3px 0px !important;
	}
}

.button {
	background: transparent;
	border: 2px solid black;
	border-radius: 0px;
	font-weight: 400;
	color: #000;
	text-transform: uppercase;
	font-size: 16px;

	@media (min-width: 992px ) {
		&:hover {
			background-color: $mainColor;
			color: #000000;
			border:2px solid $mainColor;
		}
	}
}