//$green: #4af6cd;

//<ШРИФТЫ>===========================================================================================================
$mainFontFamily:  "NotoSans", sans-serif;

//</ШРИФТЫ>===========================================================================================================

//<РАЗМЕРЫ КОНТЕЙНЕРА>===========================================================================================================
$maxwidth: 1920px;
$minwidth: 320px;
$mw: 1410;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</РАЗМЕРЫ КОНТЕЙНЕРА>===========================================================================================================

$mainColor: #71eeb8;
