@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

// ==== ШРИФТЫ ===========================================================================================
@import "fonts";
// ==== // ШРИФТЫ ===========================================================================================

// ==== НОРМАЛАЙЗ ===========================================================================================
@import "normalize";
// ==== // НОРМАЛАЙЗ ===========================================================================================

// ==== ПЕРЕМЕННЫЕ ===========================================================================================
@import "vars"; 
// ==== // ПЕРЕМЕННЫЕ ===========================================================================================

//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
//</МИКСИНЫ>===============================================================================================

//<ICOMOON>===============================================================================================
@import "../icomoon/style";
//</ICOMOON>===============================================================================================

// ==== ГЛОБАЛЬНЫЕ СВОЙСТВА ===========================================================================================
@import "global";
// ==== ГЛОБАЛЬНЫЕ СВОЙСТВА ===========================================================================================

//<FANCYBOX>===============================================================================================
@import "fancybox.scss";
//<FANCYBOX>===============================================================================================

// ==== ПЛАГИНЫ ===========================================================================================
@import "slick-slider.scss";
// ==== // ПЛАГИНЫ ===========================================================================================

// ======================
// @import "nouislider.base.less";
// =====================

// ==== БУРГЕР ===========================================================================================
@import "burger";
// ==== БУРГЕР ===========================================================================================

// ==== НАЧАЛЬНЫЕ САТИЛИ ФОРМЫ ===========================================================================================
@import "forms";
// ==== НАЧАЛЬНЫЕ САТИЛИ ФОРМЫ ===========================================================================================


// ==== HEADER =====================================================
//@import "header";
// ==== AND HEADER =====================================================

// ==== HEADER2 =====================================================
@import "header2";
// ==== AND HEADER2 =====================================================


// ==== INDEX  HOME PAGE =====================================================
@import "index";
// ==== AND INDEX  HOME PAGE =====================================================

// ==== PRODUCT PAGE =====================================================
@import "product";
// ==== AND PRODUCT PAGE =====================================================

// ==== SHOP ALL PAGE =====================================================
@import "shopAll";
// ==== AND SHOP ALL PAGE =====================================================

// ==== 3GWELLNESS PAGE =====================================================
@import "3gwellness";
// ==== AND 3GWELLNESS PAGE =====================================================

// ==== SUPPORT PAGE =====================================================
@import "support";
// ==== AND SUPPORT PAGE =====================================================

// ==== SOPPING CART PAGE =====================================================
@import "shoppingCart";
// ==== AND SOPPING CART PAGE =====================================================

// ==== CHECKOUT PAGE =====================================================
@import "checkout";
// ==== AND CHECKOUT PAGE =====================================================

// ==== CONTACT PAGE =====================================================
@import "contact";
// ==== AND CONTACT PAGE =====================================================

// ==== SEARCH PAGE =====================================================
@import "search";
// ==== AND SEARCH PAGE =====================================================


// ==== FOOTER =====================================================
@import "footer";
// ==== AND FOOTER =====================================================




